/**** Embading Fonts ****/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Metamorphous');

@font-face {
  font-family: 'algerianregular';
  src: font-path('/Algeria/algerian_regular-webfont.woff2') format('woff2'),
  font-path('/Algeria/algerian_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'allerregular';
  src: font-path('/aller/aller-regular/aller.regular-webfont.woff2') format('woff2'),
  font-path('/aller/aller-regular/aller.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'allerlight';
  src: font-path('/aller/aller-light/aller.light-webfont.woff2') format('woff2'),
  font-path('/"aller/aller-regular/aller.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'allerbold';
  src: font-path('/aller/aller-regular/aller.regular-webfont.woff2') format('woff2'),
    font-path('/aller/aller-regular/aller.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**** Embading Fonts ****/

body{
     font-size: $font-size-base;
     transition: all .1s ease-in-out;
     letter-spacing: 0.3px;
}
body, html{
  height: 100%;
}
html{
  background-color: $black;
}
#wrap {
   min-height: 100%;
   margin-bottom: -60px;
   padding-top: 60px;
}
.navbar-brand{
  width: 175px;
  height: 49px;
}
a:hover, a:focus, a:active, button, input[type="button"], input[type="reset"], input[type="submit"], .btn {
  text-decoration: none !important;
  transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
}
:focus,:active, .form-control:focus, button:focus, .btn-primary:focus, .btn-primary.focus{
    outline: none !important;
    box-shadow:  none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
  opacity: 0.7 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  opacity: 0.7 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  opacity: 0.7 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
  opacity: 0.7 !important;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white !important;
  background-color: $black !important;
  border: none !important;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
select option {
  background: rgba(0, 0, 0, 0.9);
  color: $white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  padding: 5px;
}

option:not(:checked) {
  background-color: white;
  color: $black;
  padding: 5px;
}
h2{
     font-family: $font-family-heading !important;
     font-size:30px;
     font-weight:400;
     color: $primary;
     line-height:40px;
}
 